.prod_trash {
    background-color: Red;
    border: none;
    color: white;
    padding: 4px 5px;
    font-size: 18px;
    cursor: pointer;
}
.prod_edit {
  background-color: Green;
  border: none;
  color: white;
  padding: 4px 5px;
  font-size: 16px;
  cursor: pointer;
}

.prod_moreinfo{
  background-color: Blue;
  border: none;
  color: white;
  padding:4px 5px;
  font-size: 16px;
  cursor:pointer;
}
